
* { margin: 0; border: 0; padding: 0; box-sizing: border-box; }

html
{
	height: 100%; color:hsl( 50, 4%, 30% );
}

body
{
	height: 100%;
}


a { text-decoration: none;  color:hsl( 0, 0%, 7% );  }
button { border-radius: 0.8ex; padding: 1.5ex 1.5em; }

.col-flex { display: flex; flex-direction: column;  }

/* book */

.book
{
	height: 100%;
	padding: 1.5px;
	
	display: flex;
	align-items: stretch;
	gap: 1px;
}

.book .contents
{
	height: 100%;
	background: hsl( 0, 0%, 100% );
	background-image: linear-gradient( 180deg, hsl( 0, 0%, 100% ), hsl( 55, 10%, 94% ) );
	flex-grow: 10;
	min-width: 300px;
}

.book .content
{
	height: 100%;
	overflow: auto;
	padding: 20px;
}

/* Side, Navi */

.book >.side
{
	background: hsl( 215, 70%, 85% );
	min-width: 280px;
	max-width: 280px;
	padding: 16px 12px;
}

.book >.side >.navi
{
	border-radius: 10px;
	height: 100%;
	background: hsl( 55, 0%, 100% );
	flex-grow: 2;
	background: hsl( 0, 0%, 100% );
	padding: 22px 2px;
}


.book >.side >.navi >.list { height: 100%; display: flex; flex-direction: column; font-size: 15px; gap: 20px; }

.book >.side >.navi >.list ul { list-style: none; }
.book >.side >.navi >.list li
{
	display: grid; grid-template-columns: 1fr;
	overflow: hidden; white-space: nowrap;
}

.book >.side >.navi >.list >.path { padding: 0; text-align: center; display: flex; flex-direction: column; gap: 0px; }
.book >.side >.navi >.list >.path > li { line-height: 1.8em;  text-decoration: dotted; } 
.book >.side >.navi >.list >.path > li:first-child { font-size: 100%; }
.book >.side >.navi >.list >.path > li:last-child  { font-weight: bold; font-size: 100%; } 

.book >.side >.navi >.list >.path > li > a > .label { border-bottom: 1px dotted hsl( 50, 4%, 60% ); border-radius: 3px; padding: 0 1.0em; }


.book >.side >.navi >.list >.colls { overflow: auto; padding: 0px 4px; }
.book >.side >.navi >.list >.colls > li
{
	height: 2.8em;
	margin: 0 0px 1.4px;
	border-bottom: 1px dotted hsl( 50, 4%, 70% );
}

.book >.side >.navi >.list >.colls > li > a
{
	margin-bottom: 1.0px;
	border-radius: 4px;
	padding: 3px;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 1ex;
	align-items: stretch;
	color: hsl( 0, 0%, 22% );
}
.book >.side >.navi >.list >.colls > li > a > .label { padding-left: 1em; display: flex; align-items: center; }

.book >.side >.navi >.list >.colls > li > a > .-rel
{
	border-radius: 3px;
	width: 2.8em;
	font-size: 80%;
	display: flex; justify-content: center; align-items: center;
	background:hsl( 70, 6%, 96% ); visibility: hidden;
}

.book >.side >.navi >.list >.path  > li:hover a > .label,
.book >.side >.navi >.list >.colls > li:hover a { background:hsl( 50, 6%, 96% ); }
.book >.side >.navi >.list >.colls > li:hover  a.-rel { background:hsla( 50, 6%, 50%, 10% ); }
.book >.side >.navi >.list >.colls > li[ selected = "true" ]  a.-rel { background:hsla( 70, 0%, 100%, 75% ); }
.book >.side >.navi >.list >.colls > li[ has_part = "true" ] a .-rel { visibility: visible; }


.book >.side >.navi >.list >.path > li[ selected = "true" ] > a > .label ,
.book >.side >.navi >.list >.colls > li[ selected = "true" ] > a
{
	background: hsl( 210, 1%, 10% ); color: hsl( 50, 0%, 90% );
}

/* Top */

.Top { background:hsl( 50, 6%, 96% ); }
.Top h1 { background:hsl( 215, 60%, 65% ); padding: 0.5em 0.7em; color:hsl( 50, 3%, 100% ); display: flex; justify-content: space-between; }
.Top h1 .clock { font-size: 100%; }
.Top .Links { padding: 24px; display: flex; gap: 10px; flex-wrap: wrap; }
.Top .Links .Block { border-radius: 8px;  border: 1px solid hsl( 50, 3%, 70% ); min-width: 200px; padding: 16px 28px 30px; }
.Top .Links ul { list-style: none; padding: 6px 0px 0; }
.Top .Links li { padding: 0.0ex 0; }
.Top .Links a { margin-bottom: 0px; padding: 0 2px; line-height: 1.8; }
.Top .Links a:hover { border-bottom: 2px dotted hsl( 50, 10%, 50% ); }



/* Eval */

.Eval { padding: 1px 20px; display: flex;  flex-direction: column; gap: 3px; }
.Eval .Unit { display: grid; grid-template-rows: auto auto auto; grid-template-columns: auto 30%; gap: 1px; }
.Eval .Unit textarea
{
	display: block;
	border: 0px solid hsl( 50, 3%, 100% );
	height: 120px;  padding: 1.0ex;
	font-size: 16px;  font-family: 'Courier New', Courier, monospace;
	tab-size: 4;
}

.Eval .Unit textarea { grid-column: 1 / 2; resize: vertical;  background:hsl( 180, 90%, 27% );  color:hsl( 0, 0%, 100% ); }
.Eval .Unit .display { grid-column: 2 / 3; grid-row: 1 / 4; background:hsl( 215, 68%, 63% ); }

/* train */

.Train .Range
{
	width: 550px; height: 50px; margin-bottom: 1px;
	border-radius: 7px; background: hsla( 50, 0%, 25%, 13% );
	display: flex; gap: 6px; align-items: center; padding: 15px;
}
.Train .Range .-title { display: inline-block; width: 5em; }
.Train .Range .-value-unit { display: inline-block; width: 5.0em; text-align: right; }
.Train .Range .-range { flex-grow: 1; }
.Train .Range .-unit { margin-left: 0.5ex; font-size: 80%; color:hsl( 50, 3%, 20% ); }



/* Eki */

.Eki { gap: 3px; }
.Eki > * { background:hsla( 345, 5%, 50%, 0% );  }
.Eki .-url { padding: 1ex 0; font: normal 16px courier; }
.Eki .-content
{
	flex-grow: 1;
	display: grid;  gap: 4px;  grid-template-columns: 1fr 330px;
}
.Eki .-list-wrapper
{
	display: flex;
	overflow: scroll;

	border: 2px solid hsl( 112, 75%, 30% ); padding: 20px;
}
.Eki .-list
{
	width: 100%;
	display: flex;  justify-content: center;
	gap: 2em 0.4ex;  flex-wrap: wrap;
	list-style: none;
}
.Eki .-list .-item
{
	display: grid;
	grid-template-rows: 18px auto;
	row-gap: 18px;
	min-height: 8em;
	border: 1px solid hsl( 50, 12%, 55% );  border-radius: 0.12ex;
	padding: 0.3ex 0.3ex 1.3em;
	font-size: 15.5px;
	color: hsl( 50, 7%, 45% );
}
.Eki .-list .-item .-nomble { 	 border: 1px solid hsl( 50, 2%, 85% ); font-size: 85%; text-align: center; }
.Eki .-list .-item .-name {  writing-mode: vertical-rl;  text-orientation: upright;  letter-spacing: 0.7px; }
.Eki .-list .-item:hover { background: hsla( 50, 5%, 50%, 10% );  color: hsl( 50, 0%, 30% ); }
.Eki textarea.-monitor
{
	font: normal 14px courier;  tab-size: 3;
}


/*  */



