
* { margin: 0; border: 0; padding: 0; box-sizing: border-box; }

:root
{
	--theme-color: hsl( 215, 73%, 76% );
	--theme-color: hsl( 30, 70%, 63% );
	--theme-color: hsl( 50, 70%, 80% );
	--theme-color: hsl( 100, 70%, 75% );
	--theme-hue: 100;
	--theme-hue: 215;
	--theme-hue: 333;
	--theme-hue: 25;
	--theme-hue: 55;
	--theme-hue: 180;
	--theme-hue: 230;
	--theme-hue: 218;
}

html
{
	height: 100%; color:hsl( 50, 4%, 10% );
}

body
{
	height: 100%;
}


a { text-decoration: none;  color:hsl( 0, 0%, 7% );  }
button { border-radius: 0.8ex; padding: 1.5ex 1.5em; }
table { background: hsl( 50, 0%, 100% ); }
td { background: hsl( 50, 4%, 91% ); padding: 0 0.6ex; }
tr:nth-of-type( 2n ) > td { background:hsl( 50, 4%, 96% ); }

.col-flex { display: flex; flex-direction: column; }

/* UI */

ul.Tabs
{
	list-style: none;
	display: flex; height: 3em; background:hsl( 100, 70%, 75% ); align-items: stretch; gap: 3px;
}
ul.Tabs > li
{
	cursor: default; background:hsl( 0, 0%, 100% );
	border: 2px solid hsl( 0, 0%, 40% ); padding: 0 1em;
}
ul.Tabs > li > .label
{
}
ul.Tabs > li::after { content: ""; margin: 0 1px; }

.Controls { display: flex; flex-direction: column; gap: 1.5px; }

.Range
{
	width: 500px; height: 50px;
	border-radius: 0.6ex; border: 1px solid hsla( 0, 0%, 100%, 40% );
	background: hsla( 0, 2%, 100%, 25% ); color: hsl( 0, 0%, 93% );
	padding: 15px; display: grid; grid-template-columns: 6ex 1fr 4ex 1ex; column-gap: 0.3ex;
	align-items: center;
}

/* book */

.book
{
	height: 100%;
	padding: 2px 6px 1px 2px;
	
	display: flex;
	align-items: stretch;
	gap: 2px;
}

.book .contents
{
	height: 100%;
	background: hsl( 0, 0%, 100% );
	background-image: linear-gradient( 180deg, hsl( 0, 0%, 100% ), hsl( 55, 10%, 94% ) );
	flex-grow: 10;
	min-width: 300px;
}

.book .page
{
	height: 100%;
	overflow: auto;
	padding: 0;
	display: flex;  flex-direction: column;  gap: 2px;
}

.book .page h1
{
	border-bottom: 1px solid hsl( var( --theme-hue ), 67%, 63% );
	padding: 0.35em 0.9em;
	color:hsl( var( --theme-hue ), 65%, 65% );
	font-size: 20px;
}

.book .page .page-content { padding: 20px; }

/* Side, Navi */

.book >.side
{
	background: hsl( var( --theme-hue ), 75%, 80% );
	min-width: 280px;
	max-width: 280px;
	padding: 14px 8px;
}

.book >.side >.navi
{
	border-radius: 6px;
	height: 100%;
	background: hsl( 55, 0%, 100% );
	flex-grow: 2;
	background: hsl( 0, 0%, 100% );
	padding: 18px 2px 8px;
}


.book >.side >.navi >.list { height: 100%; display: flex; flex-direction: column; font-size: 15px; gap: 13px; }

.book >.side >.navi >.list ul { list-style: none; }
.book >.side >.navi >.list li
{
	display: grid; grid-template-columns: 1fr;
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

.book >.side >.navi >.list >.path
{
	padding: 0 16px; text-align: center; display: flex; flex-direction: column; gap: 0px;
}
.book >.side >.navi >.list >.path > li { margin-bottom: 1px; border-bottom: 1px dotted hsl( 50, 4%, 60% ); }
.book >.side >.navi >.list >.path > li:nth-last-child( 2 ) { margin-bottom: 13px; }
.book >.side >.navi >.list >.path > li:last-child { margin-bottom: 0; border-bottom: 2px solid hsl( 50, 4%, 60% ); }

.book >.side >.navi >.list >.path > li > a
{
	margin-bottom: 1px;
	border-radius: 6px;
	padding: 0.2em 0em 0;
	line-height: 1.3em;
}
.book >.side >.navi >.list >.path > li:first-child > a { font-size: 100%; }
.book >.side >.navi >.list >.path > li:last-child > a
{
	margin-bottom: 13px;
	line-height: 2.0em; padding-top: 0.2ex;
	font-weight: bold; font-size: 130%;
}


.book >.side >.navi >.list >.colls { overflow: auto; padding: 0px 0px; }
.book >.side >.navi >.list >.colls > li
{
	height: 2.8em;
	margin: 0 1px 1.4px 12px;
	border-bottom: 1px dotted hsl( 50, 4%, 70% );
}

.book >.side >.navi >.list >.colls > li > a
{
	margin-bottom: 1.0px;
	border-radius: 4px;
	padding: 3px;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 1ex;
	align-items: stretch;
	color: hsl( 0, 0%, 22% );
}
.book >.side >.navi >.list >.colls > li > a > .label { padding-left: 0.5em; display: flex; align-items: center; }

.book >.side >.navi >.list >.colls > li > a > .-rel
{
	border-radius: 3px;
	width: 2.8em;
	font-size: 80%;
	display: flex; justify-content: center; align-items: center;
	background:hsl( 70, 6%, 96% ); visibility: hidden;
}

.book >.side >.navi >.list >.path  > li:hover a,
.book >.side >.navi >.list >.colls > li:hover a { background:hsl( 50, 6%, 96% ); }
.book >.side >.navi >.list >.colls > li:hover  a.-rel { background:hsla( 50, 6%, 50%, 10% ); }
.book >.side >.navi >.list >.colls > li[ selected = "true" ]  a.-rel { background:hsla( 70, 0%, 100%, 75% ); }
.book >.side >.navi >.list >.colls > li[ has_part = "true" ] a .-rel { visibility: visible; }


.book >.side >.navi >.list >.path > li[ selected = "true" ] > a ,
.book >.side >.navi >.list >.colls > li[ selected = "true" ] > a
{
	background: hsl( 210, 1%, 24% ); color: hsl( 50, 0%, 90% );
}

/* Top */

.Top { background:hsl( 50, 6%, 96% ); }
.book .Top h1 { background: hsl( var( --theme-hue ), 65%, 65% ); padding: 0.8em 0.7em; color:hsl( 50, 3%, 100% ); display: flex; justify-content: space-between; }
.Top h1 .clock { font-size: 100%; }
.Top .Links { padding: 24px; display: flex; gap: 10px; flex-wrap: wrap; }
.Top .Links .Block { border-radius: 8px;  border: 1px solid hsl( 50, 3%, 70% ); min-width: 200px; padding: 16px 28px 30px; }
.Top .Links ul { list-style: none; padding: 6px 0px 0; }
.Top .Links li { padding: 0.0ex 0; }
.Top .Links a { margin-bottom: 0px; padding: 0 2px; line-height: 1.8; }
.Top .Links a:hover { border-bottom: 2px dotted hsl( 50, 10%, 50% ); }



/* Eval */

.Eval { padding: 1px 20px; display: flex;  flex-direction: column; gap: 3px; }
.Eval .Unit { display: grid; grid-template-rows: auto auto auto; grid-template-columns: auto 30%; gap: 1px; }
.Eval .Unit textarea
{
	display: block;
	border: 0px solid hsl( 50, 3%, 100% );
	height: 120px;  padding: 1.0ex;
	font-size: 16px;  font-family: 'Courier New', Courier, monospace;
	tab-size: 4;
}

.Eval .Unit textarea { grid-column: 1 / 2; resize: vertical;  background:hsl( 180, 90%, 27% );  color:hsl( 0, 0%, 100% ); }
.Eval .Unit .display { grid-column: 2 / 3; grid-row: 1 / 4; background:hsl( 215, 68%, 63% ); }

/* train */

.Train .Range
{
	width: 550px; height: 50px; margin-bottom: 1px;
	border-radius: 7px; background: hsla( 50, 0%, 25%, 13% );
	display: flex; gap: 6px; align-items: center; padding: 15px;
}
.Train .Range .-title { display: inline-block; width: 5em; }
.Train .Range .-value-unit { display: inline-block; width: 5.0em; text-align: right; }
.Train .Range .-range { flex-grow: 1; }
.Train .Range .-unit { margin-left: 0.5ex; font-size: 80%; color:hsl( 50, 3%, 20% ); }


/* UI-Sketch */

.Sk-HSL .page-content { flex-grow: 1; background:hsl( 0, 0%, 40% ); gap: 6px; }
.Sk-HSL .display { flex-grow: 1; border: 1px solid hsl( 0, 0%, 94% ); }

/* Eki */

.Eki { gap: 3px; }
.book .Eki h1 { background:hsl( 20, 2%, 38% );  color:hsl( 0, 0%, 100% );  padding: 0.7em 1.3em; font-size: 24px; }
.Eki > * { background:hsla( 345, 5%, 50%, 0% );  }
.Eki .-url { padding: 1ex 0; font: normal 16px courier; }
.Eki .-content
{
	flex-grow: 1;
	display: grid;  gap: 4px;  grid-template-columns: 1fr 330px;
}
.Eki .-list-wrapper
{
	display: flex;
	overflow: scroll;

	border: 2px solid hsl( 112, 75%, 30% ); padding: 20px;
}
.Eki .-list
{
	width: 100%;
	display: flex;  justify-content: center;
	gap: 2em 0.4ex;  flex-wrap: wrap;
	list-style: none;
}
.Eki .-list .-item
{
	display: grid;
	grid-template-rows: 18px auto;
	row-gap: 18px;
	min-height: 8em;
	border: 1px solid hsl( 50, 12%, 55% );  border-radius: 0.12ex;
	padding: 0.3ex 0.3ex 1.3em;
	font-size: 15.5px;
	color: hsl( 50, 7%, 45% );
}
.Eki .-list .-item .-nomble { 	 border: 1px solid hsl( 50, 2%, 85% ); font-size: 85%; text-align: center; }
.Eki .-list .-item .-name {  writing-mode: vertical-rl;  text-orientation: upright;  letter-spacing: 0.7px; }
.Eki .-list .-item:hover { background: hsla( 50, 5%, 50%, 10% );  color: hsl( 50, 0%, 30% ); }
.Eki textarea.-monitor
{
	font: normal 14px courier;  tab-size: 3;
}

.Eki table { width: 400px; }


/*  */



