
* { margin: 0; padding: 0; }

html { background: hsl( 210, 0%, 90% ); }

body
{
	border-left: 4px solid hsl( 90, 40%, 60%);
	min-height: 500px;
	background: hsl(30, 5%, 98%);
	padding: 20px 32px;
}

a { text-decoration: none; color: hsl( 0, 0%, 30% ); }
