

body {
	padding-left: 10px;
}

h1 { font-size: 20px; margin: 3px; }


textarea {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a
{
	line-height: 2em;
}

button {
	padding: 2em;
}
